# Introduction & Univariate analysis

![](https://www.kdnuggets.com/wp-content/uploads/Fig1-Abisiga-top-10-lists-data-science.jpg "Data Science")

## Interesting resources: 
- Python Basics
 - https://courses.edx.org/courses/course-v1:IBM+PY0101EN+3T2020/course/ Module 1, 2 & 3
- DataFrame Basics
 - https://campus.datacamp.com/courses/introduction-to-data-science-in-python/loading-data-in-pandas?ex=1
 - https://campus.datacamp.com/courses/pandas-foundations/data-ingestion-inspection?ex=1 
  - https://www.coursera.org/learn/python-data-analysis?specialization=data-science-python#syllabus

## Intro Python, Pandas and DataFrames

In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
iris = sns.load_dataset("iris")

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
type(iris)

pandas.core.frame.DataFrame

In [6]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

![](https://miro.medium.com/max/1000/1*Hh53mOF4Xy4eORjLilKOwA.png "Iris dataset")

In [7]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [9]:
print(iris.shape)
print(len(iris))
print(len(iris.columns))

(150, 5)
150
5

In [10]:
iris['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
type(iris['sepal_length'])

In [ ]:
iris[['sepal_length','sepal_width']]

In [ ]:
columns = ['sepal_length','sepal_width']
iris[columns]

In [ ]:
type(columns)

In [ ]:
iris.loc[0:4] # inclusive! 0:4 are treated as labels, not indices!

[Good explanation about pandas](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c)

In [ ]:
iris.loc[0:4, columns]

In [ ]:
versicolorFilter = iris['species'] == 'versicolor'
iris[versicolorFilter].head()

## Univariate analysis

Unvariate: Look at 1 column at a time.<br>
The type of univariate analysis that can be performed depends on the type of data the column has.
![](https://images.ctfassets.net/4e8xy1krjypg/A6Xf1MfISZhiQWuyGFDpV/b48be1afb29fcef49f596810281ba226/PillarPage-Qual-Quan-3.svg)

### Univariate analysis: Categorical data

Discrete values. Like enums.

In [ ]:
iris['species']

In [ ]:
iris['species'].unique()

In [ ]:
iris['species'].value_counts()

In [ ]:
iris['species'].value_counts().plot(kind='bar')

### Portfolio assignment 3
15 min: Perform a univariate analysis on all the categorical data of the penguins dataset. Commit the notebook to your portfolio when you're finished.
Optional: Start working on portfolio assignment 4

In [ ]:
penguins = sns.load_dataset("penguins")

In [ ]:
penguins.head()

In [ ]:
penguins['sex'].value_counts(dropna=False).plot(kind='bar')

![](https://i.imgur.com/0v1CGNV.png)

### Portfolio assignment 4
15 min: Look online for a datset that you personally find interesting to explore. It can be about any topic that you find interesting: sports, games, software development, etc. Commit the dataset to your portfolio. You will be analysing the dataset in future portfolio assignments.

Required characteristics of the dataset:
- Must be in a tabular format: Contains rows and columns
- Contains at least 100 rows
- Contains at least 2 columns with categorical data and at least 2 columns with numerical data
- Is less than 200 MB

![](https://i.imgur.com/0v1CGNV.png)

### Univariate analysis: Numerical data

In [ ]:
column = 'sepal_length'
iris[column].min()

In [ ]:
iris[column].max()

In [ ]:
iris[column].mean()

![](https://danielmiessler.com/images/Mean-Median-Mode-and-Range-e1480829559507.png.webp "Mean")
![](https://cdn.corporatefinanceinstitute.com/assets/arithmetic-mean1-1024x159.png "Mean")

In [ ]:
iris[column].median()

![](https://i.pinimg.com/originals/e1/83/9d/e1839de477171534dd55c9bca1d6ace3.png "Median")

In [ ]:
example_column1 = pd.Series([1,2,3,4, 1000])

In [ ]:
print(example_column1.mean())
print(example_column1.median())

In [ ]:
iris[column].std()

![](https://www.wallstreetmojo.com/wp-content/uploads/2019/05/Standard-Deviation-Formula.jpg "Standard deviation")

In [ ]:
example_column1.std()

In [ ]:
(((example_column1 - example_column1.mean())**2).sum() / ( len(example_column1)-1))**0.5

In [ ]:
example_column2 = pd.Series([1,1,1,1,1,1])
example_column3 = pd.Series([1,2,3,4,5,6])
example_column4 = pd.Series([1,2,3,4,5,100])
example_column5 = pd.Series([10,20,30,40,50,60])

In [ ]:
(example_column2.std(), example_column3.std(), example_column4.std(), example_column5.std())

In [ ]:
iris[column].plot(kind='hist', bins = 10)

In [ ]:
iris[column].plot(kind='box')

In [ ]:
example_column4.plot(kind='box')

In [ ]:
# remove the outlier
example_column4[example_column4 < 10].plot(kind='box')

![](https://miro.medium.com/max/1400/1*2c21SkzJMf3frPXPAR_gZA.png)

![](https://naysan.ca/wp-content/uploads/2020/06/box_plot_ref_needed.png)

### Portfolio assignment 5
20 min: 
- Download lifeExpectancyAtBirth.csv from Brightspace ([original source](https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete?select=lifeExpectancyAtBirth.csv)).
- Move the file to the same folder as the Notebook that you will be working in.
- Load the dataset in your Notebook with the following code: lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
- Look at the dataset with the .head() function.
- Filter the dataframe: We only want the life expectancy data about 2019 and 'Both sexes'
- Use this dataframe to perform a univariate analysis on the life expectancy in 2019.
- Which five countries have the highest life expectancy? Which five the lowest?

Commit the notebook and dataset to your portfolio when you're finished.

![](https://i.imgur.com/0v1CGNV.png)

### Portfolio assignment 6
60 min: Perform a univariate analysis on at least 2 columns with categorical data and on at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4. Commit the Notebook to your portfolio when you're finished.

![](https://i.imgur.com/0v1CGNV.png)